﻿/*===============HEADER===============*/
#header {
    text-decoration: none;
    margin: 0 auto;
    background-color: #323132;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    right: 0px;
    position: fixed;
    overflow: hidden;
}
.menu, .menu-link, a{
    list-style: none;
    padding: 0;
    color: whitesmoke;
    padding-left: 5px;
    font-size: 11px;
    padding-top: 10px;
    padding-right: 5px;
    float: right;
    font-weight: 400;
    letter-spacing: 5px;
}
.menu li {
    display: inline-block;
    margin-right: 1em;
    margin-top: 0.75em;
}
#title{
    position: absolute;
    top: 25px;
    left: 25px;
    font-weight: 300;
}
#title {
    color: whitesmoke;
    letter-spacing: 5px;
    font-size: 22px;
}
a:hover {
    transition: .5s ease;
    color: grey;
    text-decoration: none;
}
/*================FOOTER==============*/
#footer {
    margin: 0 auto;
    background-color: #323132;
    position: fixed;
    bottom: 0px;
    height: 40px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding-left:20px;
    padding-top: 5px;
    position:fixed;
}
.fmenu {
    list-style: none;
    padding: 0;
    color: whitesmoke;
    padding-left: 10px;
    font-size: 10px;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
    letter-spacing: 3px;

}
.fmenu li {
    display: inline-block;
    margin-right: 1em;
}
a:hover {
    transition: .5s ease;
    color: grey;
    text-decoration: none;
}
/*==================CONTENT====================*/
#right-container {
    margin-top: 70px;
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50%;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 15%;
    position: absolute;
}
#left-container {
    margin-top: 70px;
    background-color: #ffc27a;
    height: 100%;
    width: 50%;
    position: absolute;
}
#master-p{
    padding-top:20px;
    padding-left:60px;
    padding-right:60px;
    text-align: center;
}
#p-title{
    padding-top: 20px;
    padding-left: 20px;
}
