﻿<%@ Page Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" Theme="dark" %>

<asp:Content runat="server" ContentPlaceHolderID="dataGrid">
        <asp:CodeBox ID="asp" runat="server"
        SkinId="CodeBox" code="asp_code" owner="Me" codeType="asp">
        </asp:CodeBox>
</asp:Content>
