﻿<%@ Page Language="C#" Inherits="Assignment2a.Default" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>Default</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<form id="form1" runat="server">
	  <h1>Assignment 2A</h1>
	</form>
</body>
</html>
