﻿<%@ Page Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" Theme="light" %>

<asp:Content runat="server" ContentPlaceHolderID="intro">
    <h2>OBJECTS</h2>
    <p>blah</p>
</asp:Content>


<asp:Content runat="server" ContentPlaceHolderID="dataGrid">
        <asp:CodeBox ID="js" runat="server"
        SkinId="CodeBox" code="js_code" owner="Me" codeType="js">
        </asp:CodeBox>
</asp:Content>
